<button class="btn-login" onclick="openLogin()">
    Login
</button>

<div id="loginModal" class="modal">

    <div class="modal-content">

        <span class="close-btn" onclick="closeLogin()">
            &times;
        </span>

        <h2>Login Admin</h2>

        <form action="{{ url_for('login') }}" method="POST">

            <div class="form-group">

                <label>Username</label>

                <input
                    type="text"
                    name="username"
                    placeholder="Masukkan username"
                    required>

            </div>

            <div class="form-group">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Masukkan password"
                    required>

            </div>

            <button type="submit" class="btn-submit">
                Masuk
            </button>

        </form>

    </div>

</div>